@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    @apply bg-gray-50 text-slate-900 antialiased;
  }
}
/* Estilo personalizado para el scroll del dashboard */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1; /* slate-300 */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8; /* slate-400 */
}

/* Modo oscuro para el scrollbar */
.dark ::-webkit-scrollbar-thumb {
  background: #334155; /* slate-700 */
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #475569; /* slate-600 */
}
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}